[Unit]
Description=Report changes in product/package lifecycle

[Timer]
OnCalendar=weekly
AccuracySec=1h
Persistent=true

[Install]
WantedBy=timers.target
